SECRET_KEY = secret-key-for-jwt
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = token_expiry_mins
DATABASE_URL=sqlite+aiosqlite:///database.db
REDIS_URL=redis://localhost:6379
BREVO_API_KEY=your_brevo_api_key
SENDER_MAIL=sender_mail_configured_in_brevo
SENDER_NAME=sender_name_configured_in_brevo
